# originally from https://github.com/JuliaDiff/ChainRules.jl/blob/0d55c54f143c0a26f163d1954dd4459c7d86f830/.github/workflows/IntegrationTest.yml
name: IntegrationTest
on:
  push:
    branches: [master]
    tags: [v*]
  pull_request:

jobs:
  test:
    name: ${{ matrix.package.repo }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version: [nightly]
        os: [ubuntu-latest]
        package:
          - {user: timholy, repo: SnoopCompile.jl}

    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: x64
      - name: dev TypedSyntax
        shell: julia --color=yes --project=. {0}    # this is necessary for the next command to work on Windows
        run: 'using Pkg; Pkg.develop(path=joinpath(pwd(), "TypedSyntax"))'
      - uses: julia-actions/julia-buildpkg@latest
      - name: Clone Downstream
        uses: actions/checkout@v2
        with:
          repository: ${{ matrix.package.user }}/${{ matrix.package.repo }}
          path: downstream
      - name: Load this and run the downstream tests
        shell: julia --project=downstream {0}
        run: |
          using Pkg
          try
            # force it to use this PR's version of the package
            Pkg.develop(PackageSpec(path="."))  # resolver may fail with main deps
            Pkg.update()
            Pkg.test()  # resolver may fail with test time deps
          catch err
            err isa Pkg.Resolve.ResolverError || rethrow()
            # If we can't resolve that means this is incompatible by SemVer and this is fine
            # It means we marked this as a breaking change, so we don't need to worry about
            # Mistakenly introducing a breaking change, as we have intentionally made one

            @info "Not compatible with this release. No problem." exception=err
            exit(0)  # Exit immediately, as a success
          end
